
*.json
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_14.publish.sql
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_15.publish.sql
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_16.publish.sql
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_17.publish.sql
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_18.publish.sql
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_19.publish.sql
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_20.publish.sql
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_21.publish.sql
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_22.publish.sql
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_23.publish.sql
ClassSchedulingProject/.vs/ClassSchedulingProject/DesignTimeBuild/.dtbcache.v2
ClassSchedulingProject/.vs/ClassSchedulingProject/FileContentIndex/15c169e1-11f6-4d9a-8a7c-f9dfd8547f4d.vsidx
ClassSchedulingProject/.vs/ClassSchedulingProject/FileContentIndex/26d390b8-632b-4227-8b4c-d28c795ee49f.vsidx
ClassSchedulingProject/.vs/ClassSchedulingProject/FileContentIndex/33b4c474-2760-4bc9-aed8-9f422a7aac52.vsidx
ClassSchedulingProject/.vs/ClassSchedulingProject/FileContentIndex/5d96738e-2a9e-47d4-b9f6-e92c3ae2209b.vsidx
ClassSchedulingProject/.vs/ClassSchedulingProject/FileContentIndex/66748203-e9b3-4b8e-a4fe-ca74a1a6bcef.vsidx
ClassSchedulingProject/.vs/ClassSchedulingProject/FileContentIndex/cf2eaeb8-1605-4b75-9bf2-69847fdfa038.vsidx
ClassSchedulingProject/.vs/ClassSchedulingProject/FileContentIndex/d455102e-2494-4b27-a2d7-f4eef6166b53.vsidx
ClassSchedulingProject/.vs/ClassSchedulingProject/FileContentIndex/fc93ef48-bf49-42cd-aa77-e007f9d98a6b.vsidx
ClassSchedulingProject/.vs/ClassSchedulingProject/v17/.futdcache.v1
ClassSchedulingProject/.vs/ClassSchedulingProject/v17/.suo
ClassSchedulingProject/.vs/ProjectEvaluation/classschedulingproject.metadata.v2
ClassSchedulingProject/.vs/ProjectEvaluation/classschedulingproject.projects.v2
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.dll
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
ClassSchedulingProject/obj/Debug/netcoreapp3.1/project.razor.json
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.dll
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.csproj.CoreCompileInputs.cache
ClassSchedulingProject/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
ClassSchedulingProject/obj/Debug/netcoreapp3.1/project.razor.json
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.dll
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.csproj.CoreCompileInputs.cache
ClassSchedulingProject/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
ClassSchedulingProject/obj/Debug/netcoreapp3.1/project.razor.json
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.dll
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.csproj.CoreCompileInputs.cache
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_24.publish.sql
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_25.publish.sql
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_26.publish.sql
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_27.publish.sql
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_28.publish.sql
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData_29.publish.sql
ClassSchedulingDBData/bin/Debug/DeploymentReport_14.txt
ClassSchedulingDBData/bin/Debug/DeploymentReport_15.txt
ClassSchedulingDBData/bin/Debug/DeploymentReport_16.txt
ClassSchedulingDBData/bin/Debug/DeploymentReport_17.txt
ClassSchedulingDBData/bin/Debug/DeploymentReport_18.txt
ClassSchedulingDBData/bin/Debug/DeploymentReport_19.txt
ClassSchedulingDBData/bin/Debug/DeploymentReport_20.txt
ClassSchedulingDBData/bin/Debug/DeploymentReport_21.txt
ClassSchedulingDBData/bin/Debug/DeploymentReport_22.txt
ClassSchedulingDBData/bin/Debug/DeploymentReport_23.txt
ClassSchedulingDBData/bin/Debug/DeploymentReport_24.txt
ClassSchedulingDBData/bin/Debug/DeploymentReport_25.txt
ClassSchedulingDBData/bin/Debug/DeploymentReport_26.txt
ClassSchedulingDBData/bin/Debug/DeploymentReport_27.txt
ClassSchedulingDBData/bin/Debug/DeploymentReport_28.txt
ClassSchedulingDBData/bin/Debug/DeploymentReport_29.txt
ClassSchedulingProject/.vs/ClassSchedulingProject/DesignTimeBuild/.dtbcache.v2
ClassSchedulingProject/.vs/ClassSchedulingProject/FileContentIndex/73d659b7-6587-4445-9c2c-a05e4a2c05d1.vsidx
ClassSchedulingProject/.vs/ClassSchedulingProject/FileContentIndex/925fcb72-3e77-48f7-ae59-16a8d8c812d7.vsidx
ClassSchedulingProject/.vs/ClassSchedulingProject/FileContentIndex/a1549ad6-489c-40b4-b203-3e3e48027c84.vsidx
ClassSchedulingProject/.vs/ClassSchedulingProject/v17/.futdcache.v1
ClassSchedulingProject/.vs/ClassSchedulingProject/v17/.suo
ClassSchedulingProject/.vs/ProjectEvaluation/classschedulingproject.metadata.v2
ClassSchedulingProject/.vs/ProjectEvaluation/classschedulingproject.projects.v2
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.dll
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/.vs/ClassSchedulingProject/DesignTimeBuild/.dtbcache.v2
ClassSchedulingProject/.vs/ClassSchedulingProject/v17/.futdcache.v1
ClassSchedulingProject/.vs/ClassSchedulingProject/v17/.suo
ClassSchedulingProject/.vs/ProjectEvaluation/classschedulingproject.metadata.v2
ClassSchedulingProject/.vs/ProjectEvaluation/classschedulingproject.projects.v2
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.dll
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
ClassSchedulingProject/obj/Debug/netcoreapp3.1/project.razor.json
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.dll
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.csproj.CoreCompileInputs.cache
*.dbmdl
*.jfm
ClassSchedulingDBData/ClassSchedulingDBData.dbmdl
ClassSchedulingDBData/ClassSchedulingDBData.jfm
ClassSchedulingProject/.vs/ClassSchedulingProject/DesignTimeBuild/.dtbcache.v2
ClassSchedulingProject/.vs/ClassSchedulingProject/v17/.futdcache.v1
ClassSchedulingProject/.vs/ClassSchedulingProject/v17/.suo
ClassSchedulingProject/.vs/ProjectEvaluation/classschedulingproject.metadata.v2
ClassSchedulingProject/.vs/ProjectEvaluation/classschedulingproject.projects.v2
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.dll
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.csproj.CoreCompileInputs.cache
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.dll
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/project.razor.json
ClassSchedulingProject/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
ClassSchedulingDBData/ClassSchedulingDBData.dbmdl
ClassSchedulingDBData/ClassSchedulingDBData.jfm
ClassSchedulingProject/.vs/ClassSchedulingProject/DesignTimeBuild/.dtbcache.v2
ClassSchedulingProject/.vs/ClassSchedulingProject/v17/.futdcache.v1
ClassSchedulingProject/.vs/ClassSchedulingProject/v17/.suo
ClassSchedulingProject/.vs/ProjectEvaluation/classschedulingproject.metadata.v2
ClassSchedulingProject/.vs/ProjectEvaluation/classschedulingproject.projects.v2
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.dll
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.csproj.CoreCompileInputs.cache
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.dll
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/project.razor.json
ClassSchedulingProject/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
*.dbmdl
*.vsidx
ClassSchedulingProject/obj/ClassSchedulingProject.csproj.nuget.dgspec.json
ClassSchedulingProject/obj/ClassSchedulingProject.csproj.nuget.g.props
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.assets.cache
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.assets.cache
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.csproj.AssemblyReference.cache
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.csproj.CoreCompileInputs.cache
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.csproj.FileListAbsolute.txt
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.dll
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/obj/Release/netcoreapp3.1/PublishOutputs.04885ae7b2.txt
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/ClassSchedulingProject.dll
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/ClassSchedulingProject.pdb
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/ClassSchedulingProject.Views.dll
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/Microsoft.AspNetCore.JsonPatch.dll
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/Newtonsoft.Json.Bson.dll
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/Newtonsoft.Json.dll
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/css/calendarAppDefaults.css
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/js/app.js
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/js/appHelpers.js
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/js/calendar.js
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/js/Components.jsx
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/js/createDraggableElement.js
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/js/main.jsx
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/js/popUpRenderer.js
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/react/babel7189.js
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/react/reactDev.js
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/lib/react/reactDomDev.js
ClassSchedulingProject/obj/Release/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/obj/Debug/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/obj/Debug/netcoreapp3.1/project.razor.json
ClassSchedulingProject/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
ClassSchedulingProject/obj/Debug/netcoreapp3.1/Razor/Views/Home/Login.cshtml.g.cs
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.assets.cache
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.csproj.AssemblyReference.cache
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.csproj.CoreCompileInputs.cache
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.csproj.FileListAbsolute.txt
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.dll
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/obj/Release/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/obj/Release/netcoreapp3.1/PublishOutputs.04885ae7b2.txt
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/ClassSchedulingProject.dll
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/ClassSchedulingProject.pdb
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/ClassSchedulingProject.Views.dll
ClassSchedulingProject/obj/Release/netcoreapp3.1/PubTmp/Out/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/obj/Release/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
## Ignore Visual Studio temporary files, build results, and
## files generated by popular Visual Studio add-ons.
##
## Get latest from https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono auto generated files
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio 6 auto-generated project file (contains which files were open etc.)
*.vbp

# Visual Studio 6 workspace and project file (working project files containing files to include in project)
*.dsw
*.dsp

# Visual Studio 6 technical files
*.ncb
*.aps

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# Visual Studio History (VSHistory) files
.vshistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# Fody - auto-generated XML schema
FodyWeavers.xsd

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp

# JetBrains Rider
*.sln.iml
ClassSchedulingProject/bin/Release/netcoreapp3.1/Newtonsoft.Json.dll
ClassSchedulingProject/bin/Release/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/bin/Release/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/bin/Release/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/bin/Release/netcoreapp3.1/ClassSchedulingProject.dll
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.Views.pdb
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.Views.dll
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.pdb
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.dll
ClassSchedulingProject/.vs/ProjectEvaluation/classschedulingproject.projects.v2
ClassSchedulingProject/.vs/ProjectEvaluation/classschedulingproject.metadata.v2
ClassSchedulingProject/.vs/ClassSchedulingProject/v17/.suo
ClassSchedulingProject/.vs/ClassSchedulingProject/v17/.futdcache.v1
ClassSchedulingProject/.vs/ClassSchedulingProject/FileContentIndex/e9e672ee-9e58-41a6-ade5-fe88eddf6100.vsidx
ClassSchedulingProject/.vs/ClassSchedulingProject/DesignTimeBuild/.dtbcache.v2
ClassSchedulingDBData/obj/Debug/ClassSchedulingDBData.sqlproj.FileListAbsolute.txt
ClassSchedulingDBData/ClassSchedulingDBData.jfm
ClassSchedulingDBData/ClassSchedulingDBData.dbmdl
ClassSchedulingDBData/bin/Debug/ClassSchedulingDBData.dacpac
ClassSchedulingDBData/.vs/ClassSchedulingDBData/v17/.suo
ClassSchedulingDBData/.vs/ClassSchedulingDBData/v16/.suo
*.dll
ClassSchedulingProject/bin/Debug/netcoreapp3.1/ClassSchedulingProject.pdb
