body {
    overflow-x: hidden;
}
input[type=range] {
   box-sizing: border-box;
   font-size: 16px;
   line-height: 1;
   height: 2em;
   background: transparent;
   cursor: pointer;
   -webkit-appearance: none;
   width: 100%;
 }
 input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
 }
 input[type=range]::-moz-slider-thumb {
   width: 2em;
   height: 2em;
   margin-top: 0;
   background-color: #16a085;
   border-radius: 1em;
   border: 2px solid rgba(255, 255, 255, 0.5);
   cursor: pointer;
 }
 input[type=range]:focus {
   outline: none !important;
   border: none;
   box-shadow:none;
 }
 input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 2px;
   height: 20px;
   margin-top: 5px;
   background-color: #3f3f3f;
   border-radius: 1em;
   border: 2px solid rgba(255, 255, 255, 0.5);
   cursor: pointer;
 }
 input[type=range]:hover::-webkit-slider-thumb {
   border-color: rgba(255, 255, 255, 0.7);
 }
 input[type=range]:active::-webkit-slider-thumb {
   border-color: #5a5a5a;
 }
 input[type=range]::-webkit-slider-runnable-track {
   width: 100%;
   cursor: pointer;
   height: 1em;
   border-bottom: 2px solid rgba(80, 80, 80, 0.5);
   background-color: transparent;
 }
.fc-timegrid-slot {
   height: 0px!important;
   border-bottom: 0 !important;
}
.fc-v-event {
   background-color: rgba(23, 34, 54,.4);
}
.card > .collapse  {
   /* background-color: blue!important; */
   font-weight:500;
}
#eventPopUP {
   height: 405px;
   width: 326px;
}
#addEventPopUp{
   height: 505px;
   width:700px;
   overflow: hidden;
}
#EventsByUserPopUp {
   background: white;
   max-height: 505px;
   max-width: 990px;
}
#EventsByUserPopUp > table {
   font-size: 12px;
}
#EventsByUserPopUp ::-webkit-scrollbar {
   display: none!important;
}
#EventsByUserPopUp  {
   -ms-overflow-style: none!important;
   scrollbar-width: none!important; 
   background-color: none!important;
}
.popup {
   position: fixed;
   font-size: 14px;
   top: 0px;
   left: 0px;
   background-color: inherit;
   color: #000;
   padding: 10px;
   z-index: 999;
   -webkit-box-shadow: 0px 2px 10px 5px rgba(0,0,0,0.27); 
   box-shadow: 0px 2px 10px 5px rgba(0,0,0,0.27);
   overflow-y: scroll;
}
#ptitle {
   font-size: 20px;
}
.pauthor {
   opacity: .8;
}
#pdescription {
   opacity: .9;
   font-size: 12px;
   margin-top: 10px;
}
#comments {
   font-size: 12px;
   opacity: .8;
   overflow-y: scroll;
}
.ActiveEventsListItem {
   border-left: solid 3px;
   padding-left: 9px;
   color: white;
   transition: all .2s;
}
.ActiveEventsListItem:hover {
   padding-left: 11px;
   border-left: solid 5px;
}
 .fc-timegrid-col-events {
    position: relative;
    width: 100%!important;
    left: -2px!important;
 }
 .fc ::-webkit-scrollbar {
    display: none;
 }
#EventWarnings {
   cursor: pointer;
   color: white;
   font-size: 12px;
   display: none;
   height: fit-content;
   width: 200px;
   position: fixed;
   top: 0;
   left: 0;
   background: rgba(255, 255, 255, .2);
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(194, 194, 194, 0.151);
   z-index: 100;
   padding: 10px;
}
#EventWarnings > div {
   margin-bottom: 5px;
}
.close {
   cursor: pointer;
}
.underlineText {
   cursor: pointer;
   text-decoration: underline!important;
}
.underlineText:hover {
   color: rgb(0, 68, 255);
}
.listViewTable {
   font-size: 12px;
}
#menuBar {
   display: block;
   position: fixed;
   height: 28px;
   width: calc(100% - 2px); /*Compensate for body 1px border*/
   background: #f3f3f3;
   z-index: 100;
   width: 100%;
   bottom: 0;
 }
 .status {
    padding-left: 8px;
    opacity: .7;
    font-size: 12px;
}
.sLoading {
    display: inline-block;
    position: relative;
    /* background-image: url("/img/animation.gif"); */
    background-size: contain;
    /* background: blue; */
    top: 0px;
    left: 8px;
    height: 14px;
    width: 14px;
    z-index: 2;
 }
@media only screen and (max-width: 699px) {
    #addEventPopUp::-webkit-scrollbar {
      display: none;
   }
   #EventsByUserPopUp::-webkit-scrollbar {
      display: none;
   }
   
   #addEventPopUp, #EventsByUserPopUp {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
   } 
   #addEventPopUp{
      position: fixed;
      top: 0px!important;
      bottom: 0px!important;
      left: 0px!important;
      right: 0px!important;
      width: 100%;
      height: calc(100vh);
      padding-bottom: 200px;
      padding-right: 20px;
      overflow-y: scroll;
   }
   #EventsByUserPopUp {
      position: fixed;
      top: 0px!important;
      bottom: 0px!important;
      left: 0px!important;
      right: 0px!important;
      height: calc(100vh)!important;
      width: 100%!important;
      overflow-y: scroll;
      max-height:100vh;
      max-width: 100%;
   }
   .popup {
      position: fixed;
      font-size: 14px;
      top: 0px;
      left: 0px;
      background-color: inherit;
      color: #000;
      padding: 10px;
      z-index: 999;
      -webkit-box-shadow: 0px 2px 10px 5px rgba(0,0,0,0.27); 
      box-shadow: 0px 2px 10px 5px rgba(0,0,0,0.27);
      overflow-y: scroll;
   }
   .popup > .container {
      margin: 0;
      padding: 0;
      left: 5px!important;
   } 
   .status {
      position: relative;
      top: 2px;
      padding-left: 3px;
      opacity: .9;
      font-size: 6px;
      letter-spacing: 0px;
  }
  .scaleContainer {
      right: 10px!important;
      width: 75px!important;
   }
   .scaleLabel {
      display: none!important;
   }
   .scaleInput{
      width: 75px!important;
   }
   #leftGroupingsMenuBar{
      max-width: calc(100% - 75px)!important;
      overflow-x: scroll!important;
   }
   /* #s2{
      display: none;
   } */
   /* #rightGroupingSep{
      display: none;
   } */
   .sLoading {
      display: inline-block;
      position: relative;
      background-size: contain;
      /* background: blue; */
      top: 1px;
      left: 4px;
      height: 8px;
      width: 8px;
      z-index: 2;
   }
 }
 @media only screen and (max-width: 991px){
   .listPanel {
      margin-top: 25px;
   }
 }