 /* dark theme */
 :root {
    --dark-1: rgb(39, 45, 52);
    --dark-2: rgb(34, 40, 46);
    --textcolor-1: rgb(194, 191, 187);
    --linkColor : skyblue;
 }
 body {
    background-color: var(--dark-2);
    color: var(--textcolor-1)!important;
 }
 .navbar {
    background: var(--dark-1)!important;
    border-color: rgb(46, 46, 46)!important;
 }
 .navbar a {
    color: rgb(238, 229, 217)!important;
 }
 .navbar a:hover {
    color: var(--linkColor)!important;
 }
 .card {
    background: var(--dark-1);
    color: var(--textcolor-1)!important;
 }
 .underlineText:hover {
    color: var(--linkColor)!important;
 }
 .popup{
    background-color: var(--dark-2)!important;
 }
 select option{
    background: var(--dark-1);
    color: var(--textcolor-1)!important;
    border-color: rgba(31, 31, 31, 0.61)!important;
 }
.card-link {
    color: rgb(85, 164, 238);
 }
 .card-link:hover {
    color: var(--linkColor);
 }
 select {
    border-radius: 3px;
    background: var(--dark-1);
    border-color: rgba(31, 31, 31, 0.61)!important;
    color: var(--textcolor-1)!important;
 }
 #menuBar {
    background: var(--dark-1)!important;
    border-top: rgba(31, 31, 31, 0.61) solid 1px;
 }
 table, tr, th, td {
    /* background-color: var(--dark-1); */
    border-color: rgba(92, 92, 92, 0.61)!important;
    border-style: solid;
    border-width: 1px;
 }
 table {
    color: var(--textcolor-1)!important;
    border-color: rgba(46, 46, 46, 0.61)!important;
 }
 tbody > tr > td > a:hover {
    color: var(--linkColor)!important;
 }
 .fc-timegrid-event-harness, .fc-timegrid-event-harness-inset, .fc-timegrid-event, .fc-v-event, .fc-event, .fc-event-draggable, .fc-event-resizable, .fc-event-start, .fc-event-end, .fc-event-past {
    box-shadow: none!important;
    border: solid 1px rgb(44, 44, 44);
    border-radius: 3px;
 }
 .fc-event-main{
    color: rgb(231, 231, 231)!important;
 }
 /* .fc-timegrid-col-events {
    position: relative;
    width: 100%!important;
    left: -2px!important;
 }
 .fc ::-webkit-scrollbar {
    display: none;
 } */
 .eventWarning {
   background: rgba(0, 0, 0, 0.3)!important;
}
 .fc  {
    -ms-overflow-style: none;
    scrollbar-width: none; 
    background-color: none!important;
 }
 .fc {
    width: calc(100%)!important;
    background-color: var(--dark-1);
 }
 .btn {
    color: var(--textcolor-1)!important;
 }
 input{
    background: var(--dark-1)!important;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgba(31, 31, 31, 0.61)!important;
    color: var(--textcolor-1)!important;
 }
  
  input[type="checkbox"] {
    cursor: pointer;
    outline: 0;
    height: 16px;
    width: 16px;
    color: rgb(160, 160, 160);
  }
  
  input[type="checkbox"]:checked:after {
    display: block;
  }
  input[type="range"] {
    background: none!important;
    border: none!important;
  }
  .ActiveEventsListItem > div > a:hover{
    color: var(--linkColor)!important;
  }
  .close {
   color: var(--textcolor-1);
  }
  .close:hover {
   color: var(--linkColor)
  }
  p > div {
   color: rgb(172, 172, 172);
  }